@import "tailwindcss";

body { 
  background: black; 
  color: white; 
}

/* Target only abnormally large icons if needed */
svg.icon-oversized {
  width: 1.25rem !important;
  height: 1.25rem !important;
}